<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/list.css" >
    <title>Listing Items</title>
  </head>
  <style>
    body {
      background-image: url("pictures/bg7.png");
      min-height: 100vh;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <body>
      <h3>Gold Necklace</h3>
      <main>
      <table border="2">
      <tr>
      <thead>
          <th>Jewel Id
          <th>Jewel Element</th>
          <th>Jewel type</th>
          <th>Weight</th>
          <th>Price</th>
       </tr> 
       </thead> 
        <tbody>        
            <tr th:each="jewels : ${jewelList}">
                <td th:text="${jewels.jewel_id}">Id</td>
            	<td th:text="${jewels.jewel_metal}">Element</td>
                <td th:text="${jewels.jewel_type}">Type</td>
                <td th:text="${jewels.price}">price</td>
                <td th:text="${jewels.weight}">weight</td>
                
             
            </tr>
        </tbody> 
      </table>
      </main>
  </body>
</html>
